# Configuration PostgreSQL (pour Docker)
POSTGRES_DB=db_name
POSTGRES_USER=user
POSTGRES_PASSWORD=
DOCKER_DATABASE_URL=postgresql://user@localhost:5432/db_name

# Configuration PostgreSQL (pour développement local)
DATABASE_URL=postgresql://user@localhost:5432/db_name

# Configuration API Démarches Simplifiées
DEMARCHES_API_URL=https://www.demarches-simplifiees.fr/api/v2/graphql
DEMARCHES_API_TOKEN=
DEMARCHE_NUMBER=

# Configuration API Grist
GRIST_API_KEY=
GRIST_DOC_ID=

# Configuration avancée
BATCH_SIZE='50'
MAX_WORKERS='3'
PARALLEL='True'
# 0=minimal, 1=normal, 2=verbose
LOG_LEVEL=1

# Filtres (optionnels)
DATE_DEPOT_DEBUT=
DATE_DEPOT_FIN=
STATUTS_DOSSIERS=
GROUPES_INSTRUCTEURS=

# Flask
FLASK_SECRET_KEY=changeme
# True = dev, False = prod
FLASK_DEBUG=False

# Encryption
# Générez une clé avec: poetry run poe generate-encryption-key
ENCRYPTION_KEY=

# Synchronisation (optionnel)
SYNC_HOUR=11
SYNC_MINUTE=14
APP_VERSION=0.6
