{% include 'sync_progression.html' %}

<div id="config_check_result" class="fr-card fr-card--light-grey fr-mb-4w fr-card--no-border" style="display: none;">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h2 class="fr-card__title">Statut de la configuration</h2>
            <div class="fr-mt-2w">
                <div class="fr-alert fr-alert--info">
                    <p>Vérification de la configuration en cours...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fr-mb-4w">
  <p>Les champs suivis d’un astérisque (*) sont obligatoires.</p>
  <div id="external_tests_result" class="fr-mt-3w"></div>
</div>

<h4>1. Grist</h4>

{% include 'grist_accordion.html' %}

<h4>2. Démarche Numérique</h4>


{% include 'dn_accordion.html' %}

<!-- Filtres actifs -->
<div id="active_filters" class="fr-card fr-card--light-grey fr-mb-4w fr-card--no-border" style="display: none;">
    <div class="fr-card__body">
        <div class="fr-card__content">
            <h3 class="fr-card__title">Filtres actifs</h3>
            <div id="active_filters_list" class="fr-mt-2w"></div>
        </div>
    </div>
</div>
