<section class="fr-accordion">
  <h2 class="fr-accordion__title">
    <button type="button" id="accordion-grist" class="fr-accordion__btn" aria-expanded="true" aria-controls="accordion-2">Configurer Grist</button>
  </h2>
  <div id="accordion-2" class="fr-collapse fr-px-4w">
    <div class="fr-mt-4w">
      <div class="fr-grid-row fr-grid-row--gutters">
        <div class="fr-col-12 fr-col-md-6 fr-hidden">
          <div class="fr-input-group">
            <label class="fr-label" for="grist_base_url">
              URL de base Grist
              <span class="fr-hint-text">URL de votre instance Grist</span>
            </label>
            <input class="fr-input input-config" type="url" id="grist_base_url" name="grist_base_url" 
              value="https://grist.numerique.gouv.fr/api">
          </div>
        </div>
        <div class="fr-col-12 fr-col-md-8">
          <div class="fr-input-group">
            <h5 class="fr-mb-0">Renseignez l'API de Grist</h5>

            <div class="fr-mt-1w hide">
              <div id="grist_test_result" class="fr-mb-1w"></div>
            </div>

            <label class="fr-label" for="grist_api_key">
              Clé API Grist * <a href="{{ url_for('use_otp') }}#help-grist" class="fr-link fr-text--xs">Où trouver votre clé API Grist ?</a>
            </label>

            <input class="fr-input input-config" type="password" id="grist_api_key" name="grist_api_key">
            <div id="grist_key_status" class="fr-mt-1v"></div>
          </div>
        </div>
      </div>

      <div class="fr-mt-3w fr-hidden">
        <div class="fr-grid-row fr-grid-row--gutters">
          <div class="fr-col-12 fr-col-md-6">
            <div class="fr-input-group">
              <label class="fr-label" for="grist_doc_id">
                ID du document Grist
                <span class="fr-hint-text">Identifiant du document de destination</span>
              </label>
              <input class="fr-input input-config" type="text" id="grist_doc_id" name="grist_doc_id">
            </div>
          </div>
          <div class="fr-col-12 fr-col-md-6">
            <div class="fr-input-group">
              <label class="fr-label" for="grist_user_id">
                ID utilisateur Grist
                <span class="fr-hint-text">Identifiant de l'utilisateur (récupéré depuis Grist)</span>
              </label>
              <input class="fr-input input-config" type="text" id="grist_user_id" name="grist_user_id">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
