{% extends "base.html" %}

{% block title %}Accueil - 🦄 One Trick Pony DS to Grist{% endblock %}

{% block content %}
{% include 'configuration.html' %}
{% include 'execution.html' %}
{% endblock %}

{% block scripts %}
<script>
    let currentConfig = {}
    
    // Charger la configuration au démarrage
    document.addEventListener('DOMContentLoaded', async () => {
        currentConfig = await loadConfiguration()
    })
</script>
<script>
let logsVisible = false
let currentConfigExec = null
let currentTaskId = null

const startSyncAction = async () => currentTaskId = await startSync(currentConfigExec)

document.addEventListener(
  'DOMContentLoaded',
  async () => {
    currentConfigExec = await checkConfiguration()
    loadGroupes()
  }
)

// Socket.IO pour les mises à jour en temps réel
socket.on('task_update', function(data) {
  if (data.task_id === currentTaskId) {
    updateTaskProgress(data.task)
    if (data.task.status === 'completed' || data.task.status === 'error') {
      currentTaskId = null;
    }
  }
})
</script>
{% endblock %}