{% extends "base.html" %}

{% block content %}
<div class="fr-grid-row fr-grid-row--gutters">
  <div class="fr-col-4">
    <nav class="fr-sidemenu fr-sidemenu--sticky" aria-labelledby="fr-sidemenu-title">
      <div class="fr-sidemenu__inner">
        <button class="fr-sidemenu__btn" aria-controls="fr-sidemenu-wrapper" aria-expanded="false">Dans cette rubrique</button>
        <div class="fr-collapse" id="fr-sidemenu-wrapper">
          <ul class="fr-sidemenu__list">
            <li class="fr-sidemenu__item fr-sidemenu__item--active">
              <a class="fr-sidemenu__link" href="#un" target="_self" aria-current="page">API Démarches Simplifiées</a>
            </li>
            <li class="fr-sidemenu__item">
              <a class="fr-sidemenu__link" href="#" target="_self">Api Grist</a>
            </li>
            <li class="fr-sidemenu__item">
              <a class="fr-sidemenu__link" href="#" target="_self">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div class="fr-col-8">
    <h1 class="fr-border-bottom fr-border-grey fr-pb-2w">Guide pas à pas pour récupérer votre clé API Démarches Simplifiées</h1>
    <h2 class="fr-mb-6w">Créer et récupérer votre jeton API Démarches Simplifiées</h2>
    <h2 class="fr-text-title--blue-france">1) Ouvrir votre profil Démarches Simplifiées</h2>
    <h2 class="fr-text-title--blue-france">2) Accéder aux jetons API (tokens)</h2>
    <h2 class="fr-text-title--blue-france">3) Nommer le jeton</h2>
    <h2 class="fr-text-title--blue-france">4) Définir la portée et les droits</h2>
    <h2 class="fr-text-title--blue-france">5) Paramétrer la sécurité</h2>
    <h2 class="fr-text-title--blue-france">6) Récupérer le jeton et tester</h2>

    <h1 class="fr-border-bottom fr-border-grey fr-pb-2w fr-mt-6w">Guide pas à pas pour récupérer votre clé API Grist</h1>
    <h2 class="fr-mb-6w">Créer et récupérer votre jeton API Démarches Simplifiées</h2>
    <h2 class="fr-text-title--blue-france">1) Vérifier que vous êtes dans la bonne organisation / espace</h2>
    <h2 class="fr-text-title--blue-france">2) Ouvrir les paramètres de compte</h2>
  </div>
</div>
{% endblock %}
