---
name: Release-Please
permissions:
    contents: write
    pull-requests: write
on:
  push:
    branches:
      - main
jobs:
  release-please:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: python
          default-branch: main
